@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  line-height: normal;
  font-family: "Inter";
  overflow-x: hidden;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181618;
}

.icon {
  font-size: 30px;
}

nav #brand {
  line-height: 150%;
  font-weight: 600;
  padding: 0 10px;
  color: whitesmoke;
  font-size: 14px;
  text-decoration: none;
}
.cta {
  position: relative;
  line-height: 160%;
  font-weight: 600;
  color: #f7fffb;
  cursor: pointer;
}

#nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
}

#nav__links li {
  list-style: none;
  margin: 10px;
}

#nav__links li a {
  display: block;
  text-decoration: none;
  color: #f7fffb;
  padding: 10px;
  border-radius: 10px;
}

#nav__links li a:hover {
  color: rgb(214, 214, 214);
}

.btn-shop {
  border-radius: 4px;
  border: 1px solid #f7fffb;
  background: #181618;
  color: #f7fffb;
  padding: 12px 20px;
  cursor: pointer;
}

.btn-shop:hover {
  background: #272527;
  color: whitesmoke;
  border-color: #c5c5c5;
}

.text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
}

div .nav__button {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  width: 2.25rem;
  height: 2rem;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.nav__button span {
  background: #e8e8ed;
  width: 100%;
  height: 0.4rem;
  border-radius: 0.2rem;
}

@media (max-width: 620px) {
  .nav-container {
    padding: 20px;
  }

  div .nav__button {
    display: flex;
  }

  #nav__links {
    display: none;
    flex-direction: column;
    align-items: start;
  }
  #nav__links {
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  #nav__links.open {
    display: flex;
  }

  nav #brand.open {
    display: none;
  }

  #nav__links li {
    margin: 10px;
    width: 100%;
    text-align: center;
  }

  #nav__links li a {
    margin: 0.1rem 1.5rem;
  }

  .btn-shop {
    float: none;
  }
}

.heading {
  letter-spacing: -0.02em;
  line-height: 100%;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.subheading {
  font-size: 22px;
  line-height: 130%;
  color: #d0dbd6;
}
.heading-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cta1 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.copy-component,
.cta-button,
.text-container1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-container1 {
  flex: 1;
  flex-direction: row;
  padding: 0 4px;
}
.copy-component,
.cta-button {
  width: 100%;
}
.cta-button {
  border-radius: 4px;
  background-color: #00a795;
  flex-direction: row;
  padding: 16px 48px;
  box-sizing: border-box;
  max-width: 360px;
  font-size: 18px;
}
.cta-button1:hover,
.cta-button:hover {
  background-color: #2f6761;
}
.copy-component {
  flex-direction: column;
  gap: 40px;
  min-width: 304px;
  max-width: 800px;
}
.image-container-icon {
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  height: 719px;
  flex-shrink: 0;
  object-fit: cover;
  min-width: 320px;
}
.typestacked {
  align-self: stretch;
  background-color: #181618;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 160px 16px;
  gap: 40px;
  z-index: 4;
  font-size: 96px;
}
.image-container-aisplash {
  border-radius: 24px;
  width: 238px;
  height: 224px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-height: 520px;
}
.heading1 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.cta-button1,
.heading-text1 {
  display: flex;
  justify-content: center;
}
.heading-text1 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.cta-button1 {
  width: 100%;
  border-radius: 4px;
  background-color: #00a795;
  flex-direction: row;
  align-items: center;
  padding: 16px 48px;
  box-sizing: border-box;
  max-width: 360px;
  font-size: 18px;
}
.copy-component1 {
  width: 100%;
  flex-direction: column;
  gap: 40px;
  min-width: 304px;
  max-width: 720px;
}
.container,
.copy-component1,
.typesingle-column {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  flex: 1;
  flex-direction: column;
  gap: 40px;
  max-width: 1024px;
}
.typesingle-column {
  align-self: stretch;
  background-color: #181618;
  flex-direction: row;
  padding: 64px 16px;
  z-index: 3;
}
.benefit-title {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
}
.heading-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  max-width: 800px;
}
.image-container-icon1,
.image-container-icon2 {
  max-width: 800px;
  overflow: hidden;
  object-fit: cover;
  min-width: 320px;
}
.image-container-icon1 {
  width: 100%;
  height: 489px;
  flex-shrink: 0;
}
.image-container-icon2 {
  flex: 1;
  height: 320px;
}
.extra-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  max-width: 800px;
}
.text-content,
.typegriddle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-content {
  justify-content: flex-start;
  gap: 32px;
}
.typegriddle {
  background-color: #181618;
  justify-content: center;
  padding: 160px 16px;
  z-index: 2;
}
.heading2,
.subheading3 {
  align-self: stretch;
  position: relative;
}
.heading2 {
  letter-spacing: -0.02em;
  line-height: 104%;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.subheading3 {
  font-size: 22px;
  line-height: 130%;
}
.placeholder-text {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.text-container3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 4px;
}
.input,
.input-form {
  border-radius: 4px;
  display: flex;
}
.input-form {
  align-self: stretch;
  background-color: #181618;
  border: 1px solid #41393e;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.input {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 280px;
}
.input:hover {
  background-color: #fff;
}
.button,
.buttoninput-combo,
.copy-component2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  flex: 1;
  border-radius: 4px;
  background-color: #00a795;
  flex-direction: row;
  padding: 16px 24px;
  box-sizing: border-box;
  min-width: 140px;
  max-width: 324px;
  text-align: center;
  color: #f7fffb;
}
.button:hover {
  background-color: #2f6761;
}
.buttoninput-combo,
.copy-component2 {
  width: 100%;
}
.buttoninput-combo {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 720px;
  text-align: left;
  font-size: 14px;
  color: #d0dbd6;
}
.copy-component2 {
  flex-direction: column;
  gap: 40px;
  min-width: 304px;
  max-width: 800px;
  z-index: 0;
}
.subscribe-image-aisplash {
  margin: 0 !important;
  position: absolute;
  top: -88px;
  left: calc(50% - 80px);
  border-radius: 24px;
  width: 160px;
  height: 160px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.container1,
.typefloating-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container1 {
  flex: 1;
  border-radius: 16px;
  background-color: #f7fffb;
  flex-direction: column;
  padding: 112px 24px 72px;
  box-sizing: border-box;
  position: relative;
  gap: 40px;
  max-width: 1024px;
}
.typefloating-box {
  align-self: stretch;
  background-color: #181618;
  flex-direction: row;
  padding: 144px 16px 96px;
  z-index: 1;
  font-size: 67px;
  color: #1d1a1c;
}
.icon1 {
  position: relative;
  width: 32px;
  height: 32px;
}
.brand1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.legal {
  position: relative;
  font-size: 12px;
  line-height: 160%;
  color: #d0dbd6;
}
.brand-legal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}
.nav-label3,
.nav-label5 {
  position: relative;
  line-height: 150%;
}
.nav-label5 {
  color: #d0dbd6;
}
.content,
.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.links {
  justify-content: flex-start;
  gap: 32px;
}
.content {
  width: 100%;
  justify-content: space-between;
  max-width: 1200px;
}
.musho-premium-shoe-showcase,
.typesimplistic {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.typesimplistic {
  align-self: stretch;
  background-color: #181618;
  align-items: flex-start;
  padding: 64px 32px;
  z-index: 0;
  text-align: left;
  font-size: 14px;
}
.musho-premium-shoe-showcase {
  text-decoration: none;
  background-color: #fff;
  width: 1280px;
  align-items: center;
  position: relative;
  text-align: center;
  font-size: 51px;
  color: #f7fffb;
  font-family: Inter;
}
